.wrapper{
    width: 100%;
    margin: 0 auto;
}

.parallasse{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.spacer{
    background-color: floralwhite;
    min-height: 5px;
}