#wrapper{
    width: 100%;
    margin: 0 auto;
}



#header_row{
    min-height:200px;
    width:100%;
    background-image: url("img/profile_img_background.jpg");
}

#profile_picture_div{
    float:left;
    width: 70%;
    min-height:200px;
}

#button_homepage{
    float:left;
    width: 30%;
    min-height:200px;
}



#today_event{
    min-height: 200px;
    width: 100%;
    background:#148CE2;
}



#future_past_event{
    width:100%;/*IE6 haslayout (contain floats)*/
    overflow:hidden;/*contain child floats in modern browsers*/
}


#past_event{
    float:left;
    width: 50%;
    min-height:200px;
    background:#62C014;
}

#future_event{
    float:left;
    width: 50%;
    min-height:200px;
    background: rebeccapurple;
}


#pic_profile {
    border-radius: 50% ;
    width: 180px;
    height: 180px;
    margin-top: 10px;
    margin-left: 10px;
    background:#FFCC00;
}

#buttons_list{
    margin-top: 30px;
}
#settings_button{
    margin-left: 40%;
}

#notify_button {
    margin-left: 40%;
    padding-top: 10px;
}





#wrap {
    width:900px;
    margin:0 auto;
    /*temporary text styles below*/
    text-align:center;
    font-weight:bold;
    color:#FFF;
}
#nav {
    min-height:50px;
    background:#148CE2;
}
#header {
    min-height:200px;
    background:#A71D1D;
}
#main {
    width:100%;/*IE6 haslayout (contain floats)*/
    overflow:hidden;/*contain child floats in modern browsers*/
}
#content {
    float:left;
    width:600px;
    min-height:200px;
    background:#FFCC00;
}
#links {
    float:left;
    width:300px;
    min-height:200px;
    background:#62C014;
}
#footer {
    min-height:50px;
    background:#148CE2;
}