
@media screen and (min-width: 320px) {


    #header_row{
        min-height:100px;
        width:100%;
        background-image: url("../img/profile_img_background.jpg");
    }

    #profile_picture_div{
        float:left;
        width: 70%;
        min-height:100px;
    }

    #button_homepage{
        float:left;
        width: 30%;
        min-height:100px;
    }



    #today_event{
        min-height: 200px;
        width: 100%;
        background-image: url("../img/today_event_background.jpg");
    }



    #future_past_event{
        width:100%;/*IE6 haslayout (contain floats)*/
        overflow:hidden;/*contain child floats in modern browsers*/
    }


    #past_event{
        float:left;
        width: 49.75%;
        background-image: url("../img/past_event_background.jpg");
        min-height: 100px;
    }

    #future_event{
        float:left;
        width: 49.75%;
        background-image: url("../img/future_event_background.jpg");
        min-height: 100px;
    }


    #pic_profile {
        border-radius: 50% ;
        width: 90px;
        height: 90px;
        margin-top: 10px;
        margin-left: 10px;
        background:#FFCC00;
    }

    #buttons_list{
        margin-top: 30px;
    }
    #settings_button{
        margin-left: 40%;
    }

    #notify_button {
        margin-left: 40%;
        padding-top: 10px;
    }


    #vertical_future_past_spacer{
        float:left;
        min-width: 0.5%;
        min-height: 300px;
    }

}




@media screen and (min-width: 1200px) {

    #header_row{
        min-height:200px;
        width:100%;
        background-image: url("../img/profile_img_background.jpg");
    }

    #profile_picture_div{
        float:left;
        width: 70%;
        min-height:200px;
    }

    #button_homepage{
        float:left;
        width: 30%;
        min-height:200px;
    }



    #today_event{
        min-height: 400px;
        width: 100%;
        background-image: url("../img/today_event_background.jpg");
    }



    #future_past_event{
        width:100%;/*IE6 haslayout (contain floats)*/
        overflow:hidden;/*contain child floats in modern browsers*/
    }


    #past_event{
        float:left;
        width: 49.75%;
        background-image: url("../img/past_event_background.jpg");
        min-height: 300px;
    }

    #future_event{
        float:left;
        width: 49.75%;
        background-image: url("../img/future_event_background.jpg");
        min-height: 300px;
    }


    #pic_profile {
        border-radius: 50% ;
        width: 180px;
        height: 180px;
        margin-top: 10px;
        margin-left: 10px;
        background:#FFCC00;
    }

    #buttons_list{
        margin-top: 30px;
    }
    #settings_button{
        margin-left: 40%;
    }

    #notify_button {
        margin-left: 40%;
        padding-top: 10px;
    }


    #vertical_future_past_spacer{
        float:left;
        min-width: 0.5%;
        min-height: 300px;
    }

}




