#icon{
    font-size: 20px;
}

#icon + span{
    font-size: 14px;
}

#pic_profile {
    border-radius: 50% ;
    width: 70px;
    height: 70px;
    background:#FFCC00;
}

#nome-cognome{
    text-emphasis-color: black;
    text-shadow: 0 1px black, 1px 0 black
}


html,
body,
.container,
.content-wrap {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.container {
    background: #6798ea;
    height: inherit;
}

.menu-wrap a {
     color: #ffffff;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
    color: #c94e50;
}

.content-wrap {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.top-site{
    margin-top: 7px;
    height: 100px;
}

.logo{
    width: auto;
    height: 100px;
    float: right;
}
.top-site-end p{
    text-align: right;
    font-size: 26px;
    border-left: 5px solid #ff0;
    border-top: 5px solid #ffcc00;
    border-radius: 3%;
    padding-right: 5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    /* background: rgb(180, 186, 210); */
}

/* Menu Button */
.menu-button {
    position: fixed;
    z-index: 1000;
    margin: 0.75em;
    padding: 0;
    width: 2.5em;
    height: 2.25em;
    border: none;
    text-indent: 2.5em;
    font-size: 1.5em;
    color: transparent;
    background: transparent;
}

.menu-button::before {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
    content: '';
}

.menu-button:hover {
    opacity: 0.6;
}

/* Close Button */
.close-button {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 1em;
    top: 1em;
    overflow: hidden;
    text-indent: 16px;
    border: none;
    z-index: 1001;
    background: transparent;
    color: transparent;
}

.close-button::before,
.close-button::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    background: #95a5a6;
}

.close-button::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close-button::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Menu */
.menu-wrap {
    position: absolute;
    z-index: 1001;
    width: 300px;
    height: 100%;
    font-size: 1.15em;
    -webkit-transform: translate3d(-300px,0,0);
    transform: translate3d(-300px,0,0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.menu {
    background: #3b6ec0;
    width: calc(100% - 120px);
    height: 100%;
    padding: 2em 1em;
}

.profile{
    display: inline-block;
    padding: 8px 10px;
    width: 100%;
    text-align: center;
}


.icon-list {
    width: 280px;
    line-height: 20px;
}

.icon-list a {
    display: block;
    padding: 0.8em;
}
.icon-list div {
    display: block;
    padding: 0.8em;
}

.icon-list a i {
    opacity: 0.8;
}

.icon-list a span {
    margin-left: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 0.87em;
}

/* Morph Shape */
.morph-shape {
    position: absolute;
    width: 120px;
    height: 100%;
    top: 0;
    right: 0;
    fill: #3b6ec0;
    z-index: 1000;
}

/* Shown menu */
.show-menu .menu-wrap {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.show-menu .content-wrap {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: translate3d(100px,0,0);
    transform: translate3d(100px,0,0);
}

.show-menu .content::before {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.title{

}

.title_my_event{
    color: white;
    margin-left: 21%;
    margin-top: 50px;
    display: inline-block;
    float: left;
}

#icon_arrow_right{
    color: white;
    margin-top: 50px;
    float: left;
    display: inline-block;
}

.title_suggested_event{
    color: white;
    margin-left: 33%;
    margin-top: 50px;
    display: inline-block;
    float: left;
}

.scrollx{
    width: 100%;
    overflow-x: auto;
}

.suggestEventWrapper{
    background-color: rgba(255,255,255,0.5);
    height: 329px;
    min-width: 100%;
    text-align: center;
    margin-bottom: 3%;
    border: 2px solid forestgreen;

}

.myEvent{
    min-height: 300px;
    min-width: 37%;
    max-width: 37%;
    border: 2px solid black;
    display: inline-block;
    margin-top: 1%;
    margin-left: 8%;
    margin-right: 6%;
    float: left;
}

/*
.preEvent{
    min-height: 300px;
    min-width: 28%;
    border: 2px solid black;
    display: inline-block;
    margin-top: 1%;
    margin-left: 1%;
    float: left;
    -webkit-background-size: contain;
    background-size: cover;
}
*/

.postEvent{
    min-height: 300px;
    min-width: 36%;
    border: 2px solid black;
    display: inline-block;
    margin-top: 1%;
    margin-right: 1%;
    float: left;
    background: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.6)), no-repeat, url('../img/login_background.jpg');
;
    -webkit-background-size: contain;
    background-size: cover;
}

/*
.icon_arrow_left{
    display: inline-block;
    float: left;
    margin-top: 12%;
    margin-left: 2%;
}
*/

.icon_arrow_right{
    display: inline-block;
    float: left;
    margin-top: 12%;
    margin-right: 5%;
    font-size: xx-large;
}

#pic_event {
    border-radius: 50% ;
    width: 100px;
    height: 100px;
    background:#FFCC00;
    float: left;
    margin-left: 33%;
    margin-top: 0.5%;
    border: solid #2f89ff 5px;
}

.infoMyEvent{
    display: inline-block;
}

.shortEventInfo{
    color: black;
    font-size: small;

}
.shortEventName{

    color: black;
    font-size: medium;
}
.infoEventContainer{
    background-color: rgba(255,255,255,0.8);
    width: 90%;
    height: 75px;
    margin: 10px 10px 10px 10px;
}


@media screen and (min-width: 768px){
    #icon_arrow_right{
        display: none;
    }
}


@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {

    .title_my_event{
        margin-left: 2%;
        margin-top: 10%;
        font-size: medium;
    }

    #icon_arrow_right{
        font-size: medium;
        margin-top: 11%;
        margin-left: 6%;
    }

    .title_suggested_event{
        margin-top: 10%;
        margin-left: 6%;
        font-size: medium;
    }

    .scrollx{
        width: 100%;
        overflow-x: auto;
    }

    .suggestEventWrapper{
        background-color: rgba(255,255,255,0.5);
        height: 217px;
        width: 540px;
        /*padding: 7px;*/

    }

    .generalEvent{
        width: 300px;
        height: 150px;
        margin: 20px 10px;
        display: inline;
        background-color: red;
    }

    .myEvent{
        min-height: 195px;
        max-height: 195px;
        min-width: 216px;
        max-width: 216px;
        margin-left: 1%;
        border: 2px solid black;
    }

    .postEvent{
        min-height: 195px;
        max-height: 195px;
        min-width: 215px;
        border: 2px solid black;
    }


    #pic_event {
        border-radius: 50% ;
        width: 100px;
        height: 100px;
        background:#FFCC00;
        float: left;
        margin-left: 27%;
        margin-top: 0.5%;
        border: solid #2f89ff 5px;
    }


}