#icon{
    font-size: 20px;
}

#pic_profile {
    border-radius: 50% ;
    width: 70px;
    height: 70px;
    background:#FFCC00;
}

#nome-cognome{
    text-emphasis-color: black;
    text-shadow: 0 1px black, 1px 0 black
}


html,
body,
.container,
.content-wrap {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.container {
    background: #1abc9c;
    height: inherit;
}

.menu-wrap a {
    /* color: #b8b7ad; */      <!-- Questo comando colora le scritte -->
}

.menu-wrap a:hover,
.menu-wrap a:focus {
    color: #c94e50;
}

.content-wrap {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.top-site{
    height: 75px;
}

.top-site-end{
    width: 245px;
    height: 75px;
    float: right;
}
.top-site-end p{
    text-align: right;
    font-size: 26px;
    border-left: 5px solid #ff0;
    border-top: 5px solid #ffcc00;
    border-radius: 3%;
    padding-right: 5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    /* background: rgb(180, 186, 210); */
}

/* Menu Button */
.menu-button {
    position: fixed;
    z-index: 1000;
    margin: 0.75em;
    padding: 0;
    width: 2.5em;
    height: 2.25em;
    border: none;
    text-indent: 2.5em;
    font-size: 1.5em;
    color: transparent;
    background: transparent;
}

.menu-button::before {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
    content: '';
}

.menu-button:hover {
    opacity: 0.6;
}

/* Close Button */
.close-button {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 1em;
    top: 1em;
    overflow: hidden;
    text-indent: 16px;
    border: none;
    z-index: 1001;
    background: transparent;
    color: transparent;
}

.close-button::before,
.close-button::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    background: #95a5a6;
}

.close-button::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close-button::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Menu */
.menu-wrap {
    position: absolute;
    z-index: 1001;
    width: 300px;
    height: 100%;
    font-size: 1.15em;
    -webkit-transform: translate3d(-300px,0,0);
    transform: translate3d(-300px,0,0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.menu {
    background: aliceblue;
    width: calc(100% - 120px);
    height: 100%;
    padding: 2em 1em;
}

.profile{
    display: inline-block;
    padding: 8px 10px;
    width: 100%;
    text-align: center;
}


.icon-list {
    width: 280px;
    line-height: 20px;
}

.icon-list a {
    display: block;
    padding: 0.8em;
}
.icon-list div {
    display: block;
    padding: 0.8em;
}

.icon-list a i {
    opacity: 0.8;
}

.icon-list a span {
    margin-left: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 0.87em;
}

/* Morph Shape */
.morph-shape {
    position: absolute;
    width: 120px;
    height: 100%;
    top: 0;
    right: 0;
    fill: aliceblue;
    z-index: 1000;
}

/* Shown menu */
.show-menu .menu-wrap {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.show-menu .content-wrap {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: translate3d(100px,0,0);
    transform: translate3d(100px,0,0);
}

.show-menu .content::before {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.eventWrapperTitle{
    text-align: center;
}


.suggestEventWrapper{
    background-color: rgba(255,255,255,0.5);
    height: 400px;
    min-width: 100%;
    text-align: center;
}

.myEvent{
    min-height: 300px;
    min-width: 30%;
    border: 2px solid black;
    display: inline-block;
    margin-top: 1%;
    margin-left: 4%;
    float: left;
}

.preEvent{
    min-height: 300px;
    min-width: 30%;
    border: 2px solid black;
    display: inline-block;
    margin-top: 1%;
    margin-left: 1%;
    float: left;
    /*background: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.6)), url('../img/head_eventi.jpg') no-repeat center;*/
    -webkit-background-size: contain;
    background-size: cover;
}

.postEvent{
    min-height: 300px;
    min-width: 30%;
    border: 2px solid black;
    display: inline-block;
    margin-top: 1%;
    margin-right: 1%;
    float: right;
    background: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.6)), no-repeat, url('../img/login_background.jpg');
;
    -webkit-background-size: contain;
    background-size: cover;
}

#pic_event {
    border-radius: 50% ;
    width: 100px;
    height: 100px;
    background:#FFCC00;
    float: left;
    margin-left: 40%;
    margin-top: 0.5%;
    border: solid greenyellow 5px;
}

.infoMyEvent{
    display: inline-block;
}

.shortEventInfo{
    color: black;
    font-size: small;
}
.shortEventName{

    color: black;
    font-size: medium;
}
.infoEventContainer{
    background-color: rgba(255,255,255,0.8);
    width: 350px;
    height: 75px;
    margin: 10px 10px 10px 10px;
}




@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    .suggestEventWrapper{
        background-color: rgba(255,255,255,0.5);
        height: 200px;
        width: 1000px;
    }

    .generalEvent{
        width: 300px;
        height: 150px;
        margin: 20px 10px;
        display: inline;
        background-color: red;
    }

    .myEvent{
        border: 2px solid black;
    }

    .preEvent{
        background: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.6)), url('../img/head_eventi.jpg') no-repeat center;
        -webkit-background-size: contain;
        background-size: cover;
    }

    .postEvent{
        background: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.6)), no-repeat, url('../img/login_background.jpg');
        -webkit-background-size: contain;
        background-size: cover;
    }



    .scrolly{
        overflow: auto;
        overflow-y: hidden;
        margin: 0 auto;
        white-space: nowrap;
    }


}